

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato&family=Lexend+Exa&family=Montserrat&family=Oswald&family=Plaster&family=Rock+Salt&family=Source+Sans+Pro&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@62.5,463&display=swap');

body {
 font-family: 'Lexend Exa', cursive;

  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    color: white; 

}

code {
  font-family: 'Lexend Exa', sans-serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeContainer
{
font-family: 'Lexend Exa', sans-serif;
display: grid
height = 100%; 
justify-items: stretch;
grid-gap: 1rem; 
align-content: space-between;
grid-template-rows: 1fr,2fr, 1fr;
/* grid-auto-rows: minmax(100px, auto); */
grid-template-columns: 1fr, 1fr, 1fr; 

}



.menu
{ padding: .3rem .3rem 1.5rem .3rem;
  background-color: rgba(22, 63, 87, .72);
  display: grid;
  grid-template-columns: 20% 20% 20%  ;
  grid-template-rows: 1fr ;
  grid-gap: 0;
  justify-content: center;
  width: 100vw;
  font-family: 'Lexend Exa', cursive;
}

.HomeNav {

  grid-column: 1 / span 1 ;
  text-align: center;

}

.Notes{
  grid-column: 2  / span 1 ;
  text-align: center;
}

.TodoList {
    grid-column: 3  / span 1 ;
  text-align: center;
}

a {
  color: #bac7d3;
  text-decoration: none;
  font-size: larger;

  
}
.priorities{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 15vw);
  grid-gap: 1rem;
  border-radius: .06rem;
  max-width: 100vw;
  list-style: none;
  text-align: center;
  padding-bottom: 1rem;
  justify-content: space-evenly; 
  /* padding-left: 12%;  */
  /* width: 40vw; */
  margin-left: -10%; 





}
.todoBox{
  grid-auto-rows: 50vw;
  grid-gap: 1rem;
  /* border: 1px solid white; */
  background-color: rgba(22, 63, 87, .55);
  border-radius: .3 rem;
  font-family: 'Lexend Exa', cursive;
  object-fit: fill;
  width: 15vw;
  color: #bac7d3;
  border: 1px solid #bac7d3; 
  padding: .12rem;
 
}

.todoContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  /* margin: 15%; */
 justify-content: space-evenly ;
  border-radius: 1rem;
  margin: 2.5% 0rem; 
  padding: 0% 5%;
  width: 100vw;

}


.veryHigh{
  
  border-radius: .5rem;
  background-color: rgba(22, 63, 87, .45);
  width: 40vw;
 
}
.high{
    /* border: 5px solid black; */
    border-radius: .5rem;
    width: 40vw;
    height: auto;
   background-color: rgba(22, 63, 87, .45)
}

.medium{
    /* border: 5px solid black; */
    border-radius: .5rem;
    width: 40vw;
    height: auto;
    background-color: rgba(22, 63, 87, .45)
}
.low{
     /* border: 5px solid black; */
    border-radius: .5rem;
    width: 40vw;
    height: auto;
    background-color: rgba(22, 63, 87, .45)
}
.completed{
    /* border: 5px solid black; */
    border-radius: .5rem;
    width: 40vw;
    height: auto;
    background-color: rgba(22, 63, 87, .45)
}

.addTo {
  background-color: black;
}

.todoNew
{
background-color: rgba(22, 63, 87, .45);
font-family: 'Lexend Exa', cursive;
}

.todoFormCSS{
  width: 40vw;
  border-radius: .8rem;
}
.addTodo{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  text-align: right;
  line-height: 125%;
  padding: 1rem;
}
.c11 {
  /* border: 5px solid red; */
	grid-column: 1/ span 2 ;
	grid-row: 1 ;
  margin-top: 1.5rem;
  text-align: center;
}

.c12 {
  /* border: 5px solid yellow; */
	grid-column: 1;
	grid-row: 2;
  margin-top: 1.5rem;
  font-family: 'Lexend Exa', cursive;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
 

}
.c22 {
  /* border: 5px solid blue; */
  background-color: rgba(32, 46, 54, 0.4);
  color: white;
  border: none;
  font-size: 1.2rem;
	grid-column: 2;
	grid-row: 2;
  margin-left: 1.3rem;
  margin-top: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c13 {
  /* border: 5px solid purple; */
	grid-column: 1;
	grid-row: 3;
  margin-top: 1.5rem;

}
.c23 {
  /* border: 5px solid black; */
  background-color: rgba(32, 46, 54, 0.4);
  color: white;
  border: none;
  font-size: 1.2rem;
	grid-column: 2;
	grid-row: 3;
  margin-left: 1.3rem;
  margin-top: 1.5rem;
}
.c14 {
  /* border: 5px solid teal; */
	grid-column: 1;
	grid-row: 4;
  margin-top: 1.5rem;
}
.c24 {
  /* border: 5px solid red; */
	grid-column: 2;
	grid-row: 4;
  margin-left: 1.3rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  background-color: rgba(32, 46, 54, 0.4);
  border: none;
  padding: .2rem;
  color:white;
}


.c15 {
  /* border: 5px solid red; */
	grid-column: 2;
	grid-row: 5;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  text-align: right;
}
/* ::placeholder {
  color:
} */
button{
  /* background-color: rgba(22, 63, 87, 0);  */
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  font-weight: 800;
  color:#91bbd6;
  font-size: 1.25rem;
  
  /* border:rgba(22, 63, 87, 1) solid 2px; */
  /* margin: 5px;
  padding: 1.25px; */
  /* border-radius: 5px;
  background-color: white solid 1.5px; */
  /* font-size: 15px; */ 
  
}

.updateTodoForm {
 margin: 2rem auto;

}


h3{
  font-size: 1.75rem;
  font-family: 'Lexend Exa', cursive;
  font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 0.125rem;
}
.quote
{

  display: grid;
  color: white;
  justify-items: center;
  align-items: center;
  justify-self: center;
}

.todaysDate{
  font-size: 1.5rem;
  text-align: center;
  margin-top: -5rem;
  margin-bottom: 5rem;
}

html { 
  background: url(./bkg1.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.time
{
  display: grid;
  font-family: 'Noto Sans Mono', monospace;
  color: white; 
  font-size: 500%;
  align-items: center;
  justify-items: center;

}

.weather
{
font-family: 'Lexend Exa', cursive;
color: white; 
font-size: 190%;
grid-column: 3;

}

.note{
 font-family: 'Lexend Exa', cursive;
  background-color: #8aadc5 ;
  margin-bottom: .625rem; 
  padding: 1rem;
  border-radius: .625rem;
  min-height: 10rem; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;


}
.textBoxNote{
  background-color: #8aadc5;
  border-color: #8aadc5;
 
}
.note-footer
{
  font-family: 'Lexend Exa', cursive;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}




.notes-list
{
  font-family: 'Lexend Exa', cursive;
  display: grid; 
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Container2
{
max-width:  960px;
margin-right: auto;
margin-left: auto;
padding-right: 1rem;
padding-left: 1rem;
font-family: 'Oswald', cursive;

}



textarea{
 
  border: none;
  resize: none;
}

textarea:focus{
outline: none; 


}

.save{
background-color: #e1e1e1 ;
border:none;
border-radius: 1rem;
padding: .3125rem, .625rem; 

}

.save:hover{

background-color: skyblue;
cursor: pointer;
}

.delete-icon
{
align-content: center;
cursor: pointer; 
margin-left: auto;
margin-right: auto;
}

.date
{
  display: grid;
  font-family: 'Oswald', sans-serif;
  color: white; 
  font-size:200%;
  justify-content: end;


}

.weatherstatus
{
  display: grid;
 font-size: 170%;
 justify-self: end


 
}

.location
{

  display: grid;
 font-size: 200%;
  display: grid;
  justify-self: end

  

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) { 
    .priorities {
      width: 65vw;
      display: flex;
      /* justify-content: center; */
      flex-direction: column;
      align-self: center;
      /* align-content: center; */
      margin: 0 auto;
      margin-left: -.02rem;
      
    }
    .high, .veryHigh, .medium, .low, .completed{
      width: 90vw;
      text-align: center;
      justify-content: center;
      /* grid-template-columns: 1 ; */
    }
    .todoContainer{
      display: inline-block;
    }
    .todoBox{
      width: 60vw;
    
      margin: 1rem auto;
    }

    
}

@media (max-width: 800px){ 
.priorities {
      width: 65vw;
      display: flex;
      flex-direction: column;
      align-self: center;
      /* align-content: center; */
      margin: 0 auto;
      margin-left: -.02rem;
      
    }
    .high, .veryHigh, .medium, .low, .completed, .addTodo{
      width: 90vw;
      text-align: center;
      justify-content: center;
      /* grid-template-columns: 1 ; */
    }
    .todoContainer{
      display: inline-block;
    }
    .todoBox{
      width: 60vw;
    
      margin: 1rem auto;
    }
     .todoFormCSS{
       margin-top: 1rem;
       width: 85vw;
     }


}   